<% include ./partials/header %>

<div class="fullscreen slider">
    <ul class="slides">
      <li>
        <img src="/static/img/img1.jpeg"> <!-- random image -->
        <div class="caption center-align">
          <h2>Welcome to Routine Planner!</h2>
          <h5 class="light grey-text text-lighten-3">Some Text</h5>
        </div>
      </li>
      <li>
        <img src="/static/img/img2.jpeg"> <!-- random image -->
        <div class="caption left-align">
          <h2>Interesting Fact #1</h2>
          <h5 class="light grey-text text-lighten-3">Interesting Fact About Why You Should Create Routines</h5>
        </div>
      </li>
      <li>
        <img src="/static/img/img3.jpeg"> <!-- random image -->
        <div class="caption right-align">
          <h2>Right Aligned Caption</h2>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="/static/img/img4.jpeg"> <!-- random image -->
        <div class="caption center-align">
          <h2>Get Started Now!</h2>
          <a href="/routines" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">send</i></a>
        </div>
      </li>
    </ul>
  </div>

<% include ./partials/footer %>
